<strong>Prezado(a), {{namehbs}}</strong>
<p>Segue dados de cancelamento do pedido</p>
<p>
  <strong>Destinatário: </strong> {{recipienthbs}} <br />
  <strong>Endereço: </strong> {{addresshbs}} <br />
  <strong>id de Entrega: </strong> {{producthbs}} <br />
  <strong>Data de cancelamento: </strong> {{datehbs}} <br />
  <strong>Produto: </strong> {{producthbs}} <br />
  <strong>Status: </strong> Cancelado <br /><br />

  <small>
    Por gentileza aguardar por novas entrega.
  </small>
</p>