<strong>Prezado(a), {{namehbs}}</strong>
<p>Segue dados de uma nova entrega com status pendente de retirada, segue os dados abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{recipienthbs}} <br />
  <strong>Endereço: </strong> {{addresshbs}} <br />
  <strong>id de Entrega: </strong> {{orderhbs}} <br />
  <strong>Data de cadastro: </strong> {{datehbs}} <br />
  <strong>Produto: </strong> {{producthbs}} <br />
  <strong>Status: </strong> Pendente <br /><br />

  <small>
    Lembrando que o entregador poderá fazer no máximo 5 retiradas ao dia.
  </small>
</p>